# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Weekly files and folders, will change as the content changes
01-linkkejä.md
02-bom-dom.md
03-linkkejä.md
03-responsiivisuus.md
04-flexbox.md
06-apiharjoitus.md
README copy.md
vite-project
tuntiesimerkit-valmiit
tuntiesimerkit-pohjat